@use "../global" as g;

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  font-family: g.$font-poppins;
  font-weight: 700;
  &__text {
    position: absolute;
    width: fit-content;
    height: 100%;
    inset: 0;
    font-size: 2rem;
    color: g.$white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    span {
      font-size: 60px;
      line-height: 1;
    }
    &__upper {
      display: flex;
      align-items: flex-end;
      gap: 20px;
      .text {
        opacity: 0;
      }
      .number {
        display: flex;
        gap: 10px;
        flex-direction: column;
        height: 80px;
        &__container {
          display: flex;
          align-items: center;
          gap: 30px;
          overflow: hidden;
          opacity: 0;
        }
        span {
          font-size: 90px;
          display: block;
          display: flex;
          justify-content: center;
        }
      }
    }
    &__lower {
      opacity: 0;
      font-weight: 400;
    }
  }
  .cols {
    width: calc(100% / 4);
    height: 100vh;
    background: g.$main_background;
    display: block;
  }
}